@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

/* Styles for scrollbar */
::-webkit-scrollbar {
  @apply w-1;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-md bg-white dark:bg-gradient-to-b dark:from-zinc-900 dark:to-zinc-800;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-md bg-gradient-to-t from-primary-600 to-primary-400 dark:from-primary-500 dark:to-primary-300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon-transition {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon-enter {
  opacity: 0;
  transform: rotate(180deg);
}

.icon-enter-active {
  opacity: 1;
  transform: rotate(0deg);
}
